[submodule "Design/Design/awesome-design"]
	path = Design/Design/awesome-design
	url = git@github.com:gztchan/awesome-design.git
[submodule "Design/awesome-design"]
	path = Design/awesome-design
	url = git@github.com:gztchan/awesome-design.git
