[submodule "Design/Design/awesome-design"]
	path = Design/awesome-design
	url = git@github.com:gztchan/awesome-design.git
[submodule "Back_end/Go/awesome-go"]
	path = Back_end/Go/awesome-go
	url = git@github.com:avelino/awesome-go.git
[submodule "Computer/Computer_science"]
	path = Computer/Computer_science
	url = git@github.com:ossu/computer-science.git
[submodule "Design/Pattern/design-patterns-for-humans"]
	path = Design/Pattern/design-patterns-for-humans
	url = git@github.com:kamranahmedse/design-patterns-for-humans.git
[submodule "Finance/awesome-portfolios"]
	path = Finance/awesome-portfolios
	url = git@github.com:iRaul/awesome-portfolios.git
[submodule "Note/Interview-Notebook"]
	path = Note/Interview-Notebook
	url = git@github.com:CyC2018/Interview-Notebook.git
[submodule "Design/system-design-primer"]
	path = Design/system-design-primer
	url = git@github.com:donnemartin/system-design-primer.git
[submodule "Back_end/PHP/awesome-php"]
	path = Back_end/PHP/awesome-php
	url = git@github.com:ziadoz/awesome-php.git
[submodule "Architect/architect-awesome"]
	path = Architect/architect-awesome
	url = git@github.com:xingshaocheng/architect-awesome.git
[submodule "Front_end/front-end-guide"]
	path = Front_end/front-end-guide
	url = git@github.com:grab/front-end-guide.git
[submodule "JavaScript/Vuejs/awesome-vue"]
	path = JavaScript/Vuejs/awesome-vue
	url = git@github.com:vuejs/awesome-vue.git
[submodule "Back_end/Python/awesome-python"]
	path = Back_end/Python/awesome-python
	url = git@github.com:vinta/awesome-python.git
[submodule "Architect/awesome-scalability"]
	path = Architect/awesome-scalability
	url = git@github.com:binhnguyennus/awesome-scalability.git
[submodule "Ops/Docker/awesome-docker"]
	path = Ops/Docker/awesome-docker
	url = git@github.com:veggiemonk/awesome-docker.git
[submodule "Client/Wechat/awesome-wepy"]
	path = Client/Wechat/awesome-wepy
	url = git@github.com:aben1188/awesome-wepy.git
[submodule "Ops/awesome-sre"]
	path = Ops/awesome-sre
	url = git@github.com:dastergon/awesome-sre.git
[submodule "Client/Wechat/awesome-wechat-weapp"]
	path = Client/Wechat/awesome-wechat-weapp
	url = git@github.com:justjavac/awesome-wechat-weapp.git
[submodule "Project/project-based-learning"]
	path = Project/project-based-learning
	url = git@github.com:tuvtran/project-based-learning.git
[submodule "Note/free-programming-books"]
	path = Note/free-programming-books
	url = git@github.com:EbookFoundation/free-programming-books
[submodule "Note/arl"]
	path = Note/arl
	url = git@github.com:kaxap/arl.git
[submodule "Note/awesomo"]
	path = Note/awesomo
	url = git@github.com:lk-geimfari/awesomo.git
[submodule "Note/Qix"]
	path = Note/Qix
	url = git@github.com:ty4z2008/Qix.git
[submodule "WEB/developer-roadmap-chinese"]
	path = WEB/developer-roadmap-chinese
	url = git@github.com:goodjack/developer-roadmap-chinese.git
[submodule "WEB/developer-roadmap"]
	path = WEB/developer-roadmap
	url = git@github.com:kamranahmedse/developer-roadmap.git
[submodule "Guide_lines/chinese-copywriting-guidelines"]
	path = Guide_lines/chinese-copywriting-guidelines
	url = git@github.com:sparanoid/chinese-copywriting-guidelines.git
[submodule "Front_end/fks"]
	path = Front_end/fks
	url = git@github.com:JacksonTian/fks.git
[submodule "Client/React/awesome-react-native"]
	path = Client/React/awesome-react-native
	url = git@github.com:jondot/awesome-react-native.git
[submodule "Guide_lines/api-guidelines"]
	path = Guide_lines/api-guidelines
	url = git@github.com:Microsoft/api-guidelines.git
[submodule "API/Awesome_APIs"]
	path = API/Awesome_APIs
	url = git@github.com:TonnyL/Awesome_APIs.git
[submodule "API/API-Security-Checklist"]
	path = API/API-Security-Checklist
	url = git@github.com:shieldfy/API-Security-Checklist.git
[submodule "JavaScript/awesome-javascript"]
	path = JavaScript/awesome-javascript
	url = git@github.com:sorrycc/awesome-javascript.git
[submodule "Admin/awesome-sysadmin"]
	path = Admin/awesome-sysadmin
	url = git@github.com:kahun/awesome-sysadmin.git
[submodule "shell/awesome-shell"]
	path = shell/awesome-shell
	url = git@github.com:alebcay/awesome-shell.git
[submodule "shell/command-line-text-processing"]
	path = shell/command-line-text-processing
	url = git@github.com:learnbyexample/Command-line-text-processing.git
[submodule "Back_end/Java/awesome-java"]
	path = Back_end/Java/awesome-java
	url = git@github.com:akullpp/awesome-java.git
[submodule "Review/coding-interview-university"]
	path = Review/coding-interview-university
	url = git@github.com:jwasham/coding-interview-university.git
[submodule "Algorithm/computer-science-in-javascript"]
	path = Algorithm/computer-science-in-javascript
	url = git@github.com:nzakas/computer-science-in-javascript.git
[submodule "CV/awesome-computer-vision"]
	path = CV/awesome-computer-vision
	url = git@github.com:jbhuang0604/awesome-computer-vision.git
[submodule "CV/awesome-deep-vision"]
	path = CV/awesome-deep-vision
	url = git@github.com:kjw0612/awesome-deep-vision.git
[submodule "Computer/cs-video-courses"]
	path = Computer/cs-video-courses
	url = git@github.com:Developer-Y/cs-video-courses.git
[submodule "Computer/awesome-courses"]
	path = Computer/awesome-courses
	url = git@github.com:prakhar1989/awesome-courses.git
[submodule "Resource/papers-we-love"]
	path = Resource/papers-we-love
	url = git@github.com:papers-we-love/papers-we-love.git
[submodule "JavaScript/javascript-algorithms"]
	path = JavaScript/javascript-algorithms
	url = git@github.com:trekhleb/javascript-algorithms.git
[submodule "Back_end/Python/python-guide"]
	path = Back_end/Python/python-guide
	url = git@github.com:kennethreitz/python-guide.git
[submodule "Course/awesome-course"]
	path = Course/awesome-course
	url = git@github.com:prakhar1989/awesome-courses.git
[submodule "Back_end/Rust/awesome-rust"]
	path = Back_end/Rust/awesome-rust
	url = git@github.com:rust-unofficial/awesome-rust.git
[submodule "Review/InterviewMap"]
	path = Review/InterviewMap
	url = git@github.com:KieSun/InterviewMap
[submodule "Resource/awesome-with-star"]
	path = Resource/awesome-with-star
	url = git@github.com:CraryPrimitiveMan/awesome-with-star.git
[submodule "Resource/reading"]
	path = Resource/reading
	url = git@github.com:CraryPrimitiveMan/reading.git
[submodule "Editor/awesome-vim"]
	path = Editor/awesome-vim
	url = git@github.com:akrawchyk/awesome-vim.git
[submodule "Back_end/PHP/awesome-yii2"]
	path = Back_end/PHP/awesome-yii2
	url = git@github.com:forecho/awesome-yii2.git
[submodule "Back_end/PHP/awesome-laravel"]
	path = Back_end/PHP/awesome-laravel
	url = git@github.com:chiraggude/awesome-laravel.git
[submodule "Back_end/PHP/awesome-symfony"]
	path = Back_end/PHP/awesome-symfony
	url = git@github.com:sitepoint-editors/awesome-symfony.git
[submodule "Algorithm/javascript-algorithms"]
	path = Algorithm/javascript-algorithms
	url = git@github.com:trekhleb/javascript-algorithms.git
[submodule "Nodejs/awesome-nodejs"]
	path = Nodejs/awesome-nodejs
	url = git@github.com:sindresorhus/awesome-nodejs.git
[submodule "Resource/awesome"]
	path = Resource/awesome
	url = git@github.com:sindresorhus/awesome.git
[submodule "WEB/Web-Series"]
	path = WEB/Web-Series
	url = git@github.com:wxyyxc1992/Web-Series.git
[submodule "APP/swift-algorithm-club"]
	path = APP/swift-algorithm-club
	url = git@github.com:raywenderlich/swift-algorithm-club.git
[submodule "Guide_lines/guides"]
	path = Guide_lines/guides
	url = git@github.com:thoughtbot/guides.git
[submodule "Client/awesome-quick-app"]
	path = Client/awesome-quick-app
	url = git@github.com:yesvods/awesome-quick-app.git
[submodule "Linux/test-your-sysadmin-skills"]
	path = Linux/test-your-sysadmin-skills
	url = git@github.com:trimstray/test-your-sysadmin-skills.git
[submodule "Interview/CS-Interview-Knowledge-Map"]
	path = Interview/CS-Interview-Knowledge-Map
	url = git@github.com:InterviewMap/CS-Interview-Knowledge-Map.git
[submodule "Client/React/react-bits"]
	path = Client/React/react-bits
	url = git@github.com:vasanthk/react-bits.git
[submodule "Computer/CS-notes"]
	path = Computer/CS-notes
	url = git@github.com:CyC2018/CS-Notes.git
[submodule "OS/Mac/awesome-mac"]
	path = OS/Mac/awesome-mac
	url = git@github.com:jaywcjlove/awesome-mac.git
[submodule "Guide_lines/spec"]
	path = Guide_lines/spec
	url = git@github.com:ecomfe/spec.git
[submodule "ML/TensorFlow/EffectiveTensorFlow"]
	path = ML/TensorFlow/EffectiveTensorFlow
	url = git@github.com:vahidk/EffectiveTensorflow.git
[submodule "Back_end/Python/awesome-django"]
	path = Back_end/Python/awesome-django
	url = git@github.com:rosarior/awesome-django.git
[submodule "Ops/Docker/awesome-kubernates"]
	path = Ops/Docker/awesome-kubernates
	url = git@github.com:ramitsurana/awesome-kubernetes.git
[submodule "Resource/English-level-up-tips-for-Chinese"]
	path = Resource/English-level-up-tips-for-Chinese
	url = git@github.com:byoungd/English-level-up-tips-for-Chinese.git
[submodule "Interview/Algorithm_Interview_Notes-Chinese"]
	path = Interview/Algorithm_Interview_Notes-Chinese
	url = git@github.com:imhuay/Algorithm_Interview_Notes-Chinese.git
[submodule "Nodejs/node-in-debugging"]
	path = Nodejs/node-in-debugging
	url = git@github.com:nswbmw/node-in-debugging.git
[submodule "Back_end/Go/advanced-go-programming-book"]
	path = Back_end/Go/advanced-go-programming-book
	url = git@github.com:chai2010/advanced-go-programming-book.git
[submodule "Browser/awesome-chrome-devtools"]
	path = Browser/awesome-chrome-devtools
	url = git@github.com:ChromeDevTools/awesome-chrome-devtools.git
[submodule "Architect/system-design-primer"]
	path = Architect/system-design-primer
	url = git@github.com:donnemartin/system-design-primer.git
[submodule "JavaScript/TypeScript/typescript-definition-style-guide"]
	path = JavaScript/TypeScript/typescript-definition-style-guide
	url = git@github.com:sindresorhus/typescript-definition-style-guide.git
